html {
	scroll-behavior: smooth;
}

/* Navbar.js */

.navimage {
	max-height: 25px;
}

.cart {
	height: 20px;
}

/* Homepage.js */

.hometitlejumbo {
	height: 60vh;
	margin-bottom: 0;
}

.homepagebutton {
	background-color: #775198;
	border-color: #775198;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 45vh;
  align-items: center;
}

.row2 {
	background-color: #eeeeee;
}

.homepageimage {
	max-height: 45vh;
	max-width: 50vw;
}

/* Footer.js */

.footertext {
	text-align: right;
	margin-right: 3%;
	color: #fff;
}
